{% extends "index.html" %}
{% block content %}
  <div class="row">
    <p class="text-muted">(<a href="/show">refresh</a> this page to see another piece)</p>

    <div class="col-md-12">
      <img src="{{data.url}}">
    </div>

    <div class="col-md-12">
      <h1>Words used to describe this art</h1>
    </div>

    <div class="col-md-6">
      <h2 class="text-muted">This art</h2>
      <div class="well">
        <table class="table">
          <thead>
            <tr>
              <td>Word</td>
              <td>Count</td>
            </tr>
          </thead>
          {% for thing in data.things_artwork %}
          <tr>
            <td>
              <span class="text-primary">
                {{thing[0]}}
              </span>
            </td>
            <td>
              <span class="badge">
              {{ '%0.f'| format(thing[1]|float) }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-muted">All time</h2>
      <div class="well">
        <table class="table">
          <thead>
            <tr>
              <td>Word</td>
              <td>Count</td>
            </tr>
          </thead>
          {% for thing in data.things %}
          <tr>
            <td>
              <span class="text-primary">
                {{thing[0]}}
              </span>
            </td>
            <td>
              <span class="badge">
              {{ '%0.f'| format(thing[1]|float) }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>



    <div class="col-md-12">
      <h1>Contributions</h1>
    </div>

    <div class="col-md-6">
      <h2 class="text-muted">This art</h2>
      <div class="well">
        <span class="badge">
          {{data.hits_artwork}}
        </span>
      </div>
    </div>


    <div class="col-md-6">
      <h2 class="text-muted">All time</h2>
      <div class="well">
        <span class="badge">
          {{data.hits}}
        </span>
      </div>
    </div>

  </div>
{% endblock %}
