{% extends "index.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>What do you see?</h1>

    <img src="{{url}}">
    <br><br>

    <form role="form" action="/tell" method="POST">
      <input type="hidden" name="url" value="{{url}}">

      <div class="form-group">
        <label for="thing1">Word 1</label>
        <input id="thing1" class="form-control" name="thing1" placeholder="One word that describes this image, e.g. woman">
      </div>

      <div class="form-group">
        <label for="thing2">Word 2</label>
        <input id="thing2" class="form-control" name="thing2" placeholder="Another word that describes it, e.g. blue">
      </div>

      <div class="form-group">
        <label for="thing3">Word 3</label>
        <input id="thing3" class="form-control" name="thing3" placeholder="Yet another, e.g. passionate">
      </div>

      <input type="submit">
    </form>
  </div>
</div>
{% endblock %}
